<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="clientID" value="application_id_goes_here" />
      <add key="UserId" value="UserID_to_login_into_AAD" />
      <add key="Password" value="Password_for_the_user"/>
      <add key="redirectUri" value="https://login.live.com/oauth20_desktop.srf" />
      <add key="resourceUri" value="https://analysis.windows.net/powerbi/api" />
      <add key="authorityUri" value="https://login.windows.net/common/oauth2/authorize" />
      <!--<add key="powerBIApiUrlFormat" value="https://api.powerbi.com/v1.0/myorg/datasets/{0}/tables/{1}/rows"/>-->
      <!--<add key="powerBIApiUrlFormatRefresh" value="https://api.powerbi.com/v1.0/myorg/datasets/{0}/refreshes"/>-->
      <!--<add key="tableName" value="Product"/>-->
      <add key="tableName" value="Product" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>